* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100svh;
}

main {
  width: 400px;
  border: 1px;
  margin: 0 auto;
  background-color: rgb(27, 34, 51);
  color: white;
  border-radius: 5px;
}

img {
  max-width: 100%;
}

div {
  padding: 20px;
}

.author-img {
  width: 50%;
  height: 50%;
  border-radius: 9000px;
}

.author-img,
hr {
  margin-inline: 50px;
}

hr {
  max-width: 350px;
  margin: 0 auto;
  border-color: aquamarine;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

span {
  color: rgb(3, 86, 196);
}
